.vertical-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .vertical-carousel__button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
  }
  
  .vertical-carousel__image img {
    width:400px;
    
  }
  